@model csharp_bibliotecaMvc.Models.Libro

@{
    ViewData["Title"] = "Aggiungi Autore con Select";
}

<h1>Autore</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAutoreSelect">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="LibroID" class="control-label"></label>
                <input asp-for="LibroID" class="form-control" value="@ViewBag.Id" />
                <span asp-validation-for="LibroID" class="text-danger"></span>
            </div>

            <label for="Nome">Seleziona il Nome</label>
            <label for="Autori">Seleziona il Nome</label>

            <select name="Autori" id="" multiple></select>

            <div class="form-group">
                <input type="submit" value="AddAutoreSelect" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


